nextflow.enable.dsl = 2

params {
    samplesheet = 'metadata/samplesheet.csv'
    reads_dir   = 'data/raw/fastq'
    outdir      = 'results'
}

process {
    executor = 'local'

    cpus   = 2
    memory = '2 GB'
}

report {
    enabled   = true
    file      = "${params.outdir}/nextflow/report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/nextflow/timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/nextflow/trace.txt"
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.outdir}/nextflow/dag.html"
    overwrite = true
}