nextflow.enable.dsl = 2

params {
    samplesheet = 'metadata/samplesheet.csv'
    reads_dir   = 'data/raw/fastq'
    outdir      = 'results'
}

process {
    cpus   = 2
    memory = '2 GB'

    withName: FASTQC {
        cpus   = 2
        memory = '2 GB'
    }

    withName: MULTIQC {
        cpus   = 1
        memory = '2 GB'
    }

    withName: MIXCR {
        cpus   = 8
        memory = '4 GB'
    }

    withName: REPERTOIRE_ANALYSIS {
        cpus   = 2
        memory = '4 GB'
    }

    withName: BIOLOGICAL_SUMMARY {
        cpus   = 1
        memory = '2 GB'
    }
}

profiles {

    local {
        includeConfig 'conf/local.config'
    }

    docker {
        includeConfig 'conf/docker.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }

    azure {
        includeConfig 'conf/azure.config'
    }

    k8s {
        includeConfig 'conf/k8s.config'
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/nextflow/report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/nextflow/timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/nextflow/trace.txt"
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.outdir}/nextflow/dag.html"
    overwrite = true
}
